#python
__pycache__/
*.pyc
*.pyo

#virtualenv
dragon/
venv/

#logs
backend/logs/

#Models
backend/models/*
!backend/models/logistic_regression/
!backend/models/logistic_regression/v1/

#Cache
app/cache/

#VSCode
.vscode/

#OS
.DS_Store

