#python
__pycache__/
*.pyc
*.pyo
.env

#virtualenv
dragon/
venv/

#logs
logs/

#data
data/

#Cache
app/cache/

#VSCode
.vscode/

#OS
.DS_Store

#Codebase
codebase.txt

#performance evaluation
/performance
